body{
    background-image: url(index_foto.jpg);
    background-position: 0px;
    background-repeat: no-repeat;
}

  
h1{
    color: black;
}

h2{
    
    color: black;
    position: relative;left: 710px;
}

.texto{
    color: black;
    position: relative;left: 710px;
    position: relative;top: 100px;
}

#imagen{
    position: relative;bottom: 150px;
}


#Volver{
 color: black;
 position: relative;left: 500px;
 font-size: 20px;
 border: 2px solid white;padding: 10px;background-color: white;
}


#Desc{
    position: relative;left: 10px;
    color: black;
    opacity: 200px  ;
}

 
.obras{
    width: 300px;
    height: 400px;
}