<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style-obras.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script> scr="validaciones.js"</script>
</head>
<body>

   <!--Creacion De la barra de busqueda-->
   <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: rgb(200, 214, 214);">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">Ground Zero</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Galeria.html">Galeria</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link active" href="ticket.html">Ticket</a>
          </li>
        </ul> 
      </div>
    </div>
  </nav>

    
  <div>
    <h1>Galeria</h1>
</div>


<div id="Desc">
  <p>Acá encontraremos la galeria donde podras ver los tipos de artes</p>
  <p>haga click para ir a la obra que quiera ver mas info </p>
</div>





<div class="card" style="width: 18rem;">
  <img src="noche-estrellada.jpg" class="card-img-top" alt="noche-estrellada">
  <div class="card-body">
    <h5 class="card-title">La Noche Estrellada</h5>
    <a href="pintura.html" class="btn btn-primary">Mas info</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="Cristo-redentor.jpg" class="card-img-top" alt="Cristo-redentor">
  <div class="card-body">
    <h5 class="card-title">Cristo Redentor</h5>
    <a href="escultura.html" class="btn btn-primary">Mas info</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="bleached.jpg" class="card-img-top" alt="bleached">
  <div class="card-body">
    <h5 class="card-title">Bleached Coral</h5>
    <a href="tejido.html" class="btn btn-primary">Mas info</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="rem.jpg"  alt="Ram-en-un-matorral">
  <div class="card-body">
    <h5 class="card-title">Ram en un matorral</h5>
    <a href="orfebreria.html" class="btn btn-primary">Mas info</a>
  </div>
</div>







    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>