{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ground Zero</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script> scr="validaciones.js"</script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>


  <!--Creacion De la barra de busqueda-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: rgb(200, 214, 214);">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'inicio' %}">Ground Zero</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'galeria' %}">Galeria</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link active" href="{% url 'ticket' %}">Ticket</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio de sesion</a>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Clientes</a>
        </li>
        <li class="nav-item-dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {% if user.is_authenticated %}
             {{user.username}}
          {% else %}
             <a href="{% url 'inicio' %}">login</a>
          {% endif %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
          </div>
      </li>
        </ul> 
      </div>
    </div>
  </nav>



  

  <!-- Saludo de inicio -->
<div>
 <p>Bienvenido al Ground Zero, acá podrás encontrar varias obras artisticas de diferentes artistas, esperamos que sean de tu agrado, a disfrutar.</p>
</div>







  <!--Creacion carrusel-->
<h2 class="titulo">Carrusel Obras</h2>
<div class="slider-box">
  <ul>
    <li>
      <img src="\Ground-Zero-master\home\static\home\assets\img\Cristo-redentor.jpg" alt="Cristo-redentor">
      <div class="texto">
        <h2>Cristo Redentor</h2>
      </div>
    </li>
    <li>
      <img src="bleached.jpg" alt="bleached">
      <div class="texto">
        <h2>Bleached Coral</h2>
      </div>
    </li>
    <li>
      <img src="noche-estrellada.jpg" alt="noche-estrellada">
      <div class="texto">
        <h2>La noche Estrellada</h2>
      </div>
    </li>
    <li>
      <img src="rem.jpg" alt="orfe">
      <div class="texto">
        <h2>Ram en un matorral</h2>
      </div>
    </li>
  </ul>
</div>





</body>
</html>